body {
    background-color: #1E1E1E;
    color: #dcdcdc !important;
}

header {
    background-color: #1E1E1E !important;
}

a {
    background-color: #2d2d2d !important;
}

a:hover {
    background-color: #ddb900 !important;
}

a:hover img {
    filter: brightness(0);
}

a:hover p {
    filter: brightness(0);
}

p {
    margin: 0 !important;
}

#hero {
    margin-top: 180px;
}

#hero-img {
    filter: invert(80%);
}

.signature {
    color: #ddb900 !important;
}

th,
td {
    color: #dcdcdc !important;
}

#clasificacion {
    display: none;
}

tr:hover{
    cursor: pointer;
    background-color: #454545 !important;
}